.intro-style {
  display: flex;
  justify-content: center;
  align-items: center;
  //   font-size: 30px;
  padding: 15px;
}

.text {
  color: white;
  border-right: 2px solid rgb(62, 216, 255);
  font-size: 55px;
  font-family: sans-serif;
  color: rgb(62, 216, 255);
}
