@media screen and (max-width: 1170px) {
  .weather {
    width: 100%;
  }
  .library {
    width: 44%;
  }

  .library-song {
    margin: 70px;
  }

  .song-container img {
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
  }

  .move-for-mobile {
    padding-top: 130px;
  }

  .active-weather {
    transform: translateX(0%);
    opacity: 1;
  }

  .active-library {
    h2 {
      display: none;
    }
  }

  .weather-active {
    margin-left: 10%;
    margin-right: 10%;
  }

  .library-songs {
    margin-top: 15rem;
  }

  .library {
    margin-top: 10px;

    .library-song {
      margin-top: 50px;
    }
  }

  .weather-active {
    margin-left: 10%;

    .library-songs {
      margin-top: 9rem;
    }
  }

  // .search-box {
  //   display: none;
  // }
}
