* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb rgb(221, 53, 53);
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3,
h4 {
  font-weight: 400;
}

.App {
  transition: all 1.5s ease;
}

.library-active {
  margin-right: 30%;
}

.weather-active {
  margin-left: 40%;
}

@import './player';
@import './song';
@import './library';
@import './nav';
@import './weather';
