* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb rgb(221, 53, 53);
}

body {
  font-family: 'Open Sans', sans-serif;
}

h3,
h4 {
  font-weight: 400;
}

.App {
  transition: all 1.5s ease;
}

.library-active {
  margin-right: 2%;
}

.weather-active {
  margin-left: 10%;
}

.bg-starter-img {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1611822298655-cfc07a6cc1a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
  background-size: cover;
}

@import './player';
@import './song';
@import './library';
@import './nav';
@import './weather';
@import './intro';
@import './mobile-styling';
